* {
    text-align: center;
    text-decoration: none;
    list-style: none;
}


h1 {
    border-bottom: 1px solid #000;
    font-size: auto 8px;
    margin: 16px 0;
    padding-bottom: 8px;
}

li {
    line-height: 1.6;
    margin-bottom: 8px;
}
